@model List<PronosContest.DAL.Pronos.PhaseGroupe.ClassementGroupeModel>

@{
    if (this.Model != null && this.Model.Any())
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>
							<span class="hidden-xs hidden-sm">Points</span>
							<span class="hidden-md hidden-lg">Pts</span>
						</th>
                        <th>J</th>
                        <th>G</th>
                        <th>N</th>
                        <th>P</th>
                        <th>BM</th>
                        <th>BE</th>
                        <th>
							<span class="hidden-xs hidden-sm">Diff</span>
							<span class="hidden-md hidden-lg">D</span>
						</th>
                    </tr>
                </thead>
                @{
                    int i = 1;
                    foreach (var c in this.Model)
                    {
                        string classLigne = "";
                        switch (i)
                        {
                            case 1 :
                            case 2 :
                                classLigne = "success";
                                break;
                            case 3 :
                                classLigne = "warning";
                                break;
                            case 4 :
                                classLigne = "danger";
                                break;
                        }
                        <tr class="@classLigne">
                            <td>@i°</td>
                            <td>
                                <span class="hidden-xs hidden-sm">@c.Nom</span>
                                <span class="hidden-md hidden-lg">@c.ShortName</span>
                            </td>
                            <td>
                                @c.Points
                            </td>
                            <td>
                                @c.MatchsJoues
                            </td>
                            <td>
                                @c.MatchsGagnes
                            </td>
                            <td>
                                @c.MatchsNuls
                            </td>
                            <td>
                                @c.MatchsPerdus
                            </td>
                            <td>
                                @c.ButsMarques
                            </td>
                            <td>
                                @c.ButsEncaisses
                            </td>
                            <td>
                                @c.Difference
                            </td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    }
}
