@model List<PronosContest.DAL.Pronos.Concours>
@{
    ViewBag.Title = "Vos concours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (this.Model != null && this.Model.Any())
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Competition</th>
                        <th>Début du concours</th>
						<th>Date limite de saisie</th>
                        <th>Etat</th>
                        <th>Joueurs inscrits</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var c in this.Model)
                {
                    <tr>
                        <td>
                            @c.Competition.Libelle
                        </td>
                        <td>
							@c.DateDebut.ToShortDateString()
                        </td>
						<td>
							@c.DateLimiteSaisie.ToShortDateString() à @c.DateLimiteSaisie.ToShortTimeString()
						</td>
                        <td>
							@{ 
								switch (c.EtatConcours)
								{
									case PronosContest.DAL.Pronos.EtatConcours.EnCours:
										<span>En cours</span>
										break;
									case PronosContest.DAL.Pronos.EtatConcours.Termine:
										<span>Terminé</span>
										break;
								}
							}
                        </td>
                        <td>
                            @c.ConcoursCompteUtilisateurs.Count()
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                @Html.ActionLink("Classement", "ClassementConcours", new { pConcoursID = c.ID }, new { @class = "btn btn-default"})
                                @Html.ActionLink("Pronostics", "SaisirPronostics", new { pConcoursID = c.ID }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Résultats", "ScoresMatch", new { pConcoursID = c.ID }, new { @class = "btn btn-default" })
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
		<div class="alert alert-warning" role="alert">
			Vous ne participez à aucun concours de pronostics !
		</div>
	}
}
