@model List<PronosContest.Models.GroupePronosticsModel> 
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var concoursID = Request.Params["pConcoursID"];
}
<script type="text/javascript">

    function SetScore(pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pValue, pIsNewProno) {
        $.ajax({
            url: '@Url.Action("SetScore")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + pValue + '&pIsNewProno=' + pIsNewProno,
            context: { ConcoursID: pConcoursID, GroupeID: pGroupeID },
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                //RemplirClassement(this.ConcoursID, this.GroupeID);
            }
        });
    }

    function AddGoalScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pIsNewProno)
    {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = -1;
        if (actualValue < 10)
        {
            $('[name=' + nameControl + ']').val(actualValue + 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScore")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val() + '&pIsNewProno=' + pIsNewProno,
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    //RemplirClassement(this.ConcoursID, this.GroupeID);
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }
    function RemoveGoalScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pIsNewProno) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = 1;
        if (actualValue > 0) {
            $('[name=' + nameControl + ']').val(actualValue - 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScore")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val() + '&pIsNewProno=' + pIsNewProno,
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    //RemplirClassement(this.ConcoursID, this.GroupeID);
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }

    function AddGoalPenaltyScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pIsNewProno) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = -1;
        if (actualValue < 20) {
            $('[name=' + nameControl + ']').val(actualValue + 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScorePenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val() + '&pIsNewProno=' + pIsNewProno,
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }
    function RemoveGoalPenaltyScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pIsNewProno) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = 1;
        if (actualValue > 0) {
            $('[name=' + nameControl + ']').val(actualValue - 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScorePenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val() + '&pIsNewProno=' + pIsNewProno,
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }

    function SetScorePenalties(pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pValue, pIsNewProno) {
		$.ajax({
		    url: '@Url.Action("SetScorePenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + pValue + '&pIsNewProno=' + pIsNewProno,
			context: { ConcoursID: pConcoursID, GroupeID: pGroupeID },
			type: 'GET',
			dataType: 'html',
			success: function (result) {

			}
		});
	}

    function RemplirClassement(pConcoursID, pGroupeID) {
        $.ajax({
            url: '@Url.Action("GetClassement")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID,
            context: { pGroupeID: pGroupeID },
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('[name=classement_grp_' + pGroupeID + ']').html(result);
            }
        });
    }

    function RemplirClassement3emes(pConcoursID) {
        $.ajax({
            url: '@Url.Action("GetClassement3emesPronostics")?pConcoursID=' + pConcoursID,
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('[name=classement_3eme]').html(result);
            }
        });
    }
</script> 
<div class="hidden-md hidden-lg">
    <div class="row" >
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                @{
					<div class="dropdown">
						<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
							@{
								if (this.Model.Any(m => m.IsChoosen))
								{
									<span>@this.Model.Where(m => m.IsChoosen).FirstOrDefault().Name</span>
								}
								else
								{
									<span>Tous les groupes</span>
								}
							}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								@{
									if (this.Model.Any(m => m.IsChoosen))
									{
										@Html.ActionLink("Tous les groupes", "SaisirPronostics", new { pConcoursID = concoursID }, null)
									}
									else
									{
										@Html.ActionLink("Tous les groupes", "SaisirPronostics", new { pConcoursID = concoursID }, null)
									}
								}
							</li>
							@{
								foreach (var grp in this.Model)
								{
									<li>
										@{
											if (grp.IsChoosen)
											{
												@Html.ActionLink(grp.ShortName, "SaisirPronostics", new { pConcoursID = concoursID, pGroupe = grp.Name }, null)
											}
											else
											{
												@Html.ActionLink(grp.ShortName, "SaisirPronostics", new { pConcoursID = concoursID, pGroupe = grp.Name }, null)
											}
										}
									</li>
								}
							}
						</ul>
					</div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm" >
        <ul class="nav nav-pills nav-stacked">
            @{
                <li role="presentation" @(this.Model.Any(m => m.IsChoosen) ? "" : "class=active")>@Html.ActionLink("Tous", "SaisirPronostics", new { pConcoursID = concoursID })</li>
                foreach (var grp in this.Model)
                {
                    <li role="presentation" @(grp.IsChoosen ? "class=active" : "")>@Html.ActionLink(grp.Name, "SaisirPronostics", new { pConcoursID = concoursID, pGroupe = grp.Name })</li>
                }
            }
        </ul>
    </div>
   
    <div class="col-xs-1">
        &nbsp;
    </div>
    @{ 
        var groupes = this.Model.Where(m => m.IsChoosen);
        if (!groupes.Any())
        {
            groupes = this.Model.Where(m => m.TypePhaseFinale == null);
        }
    }
    <div class="col-md-9 hidden-xs hidden-sm">
        @{
            foreach (var grp in groupes)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">@grp.Name</div>
                    <div class="panel-body">
                        @{ 
                            if (grp.ID != 0)
                            {
                                <table>
                                    @{
										foreach (var prono in grp.MatchsPronostics)
										{
											Html.RenderPartial("_Pronostic", prono);
										}
                                     }
                                </table>
                            }
                        }
                        <div id="classement_grp_@grp.ID" name="classement_grp_@grp.ID">
                            @{
                                Html.RenderPartial("_Classement", grp.Classement);
                            }
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
    <div class="col-xs-12 hidden-lg hidden-md" >
        @{
            foreach (var grp in groupes)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">@grp.Name</div>
                    <div class="panel-body">
                    @{
						if (grp.ID != 0)
						{
							foreach (var prono in grp.MatchsPronostics)
							{
								Html.RenderPartial("_Pronostic", prono);
							}
						}
                        }
                        <div id="classement_grp_@grp.ID" name="classement_grp_@grp.ID">
                            @{
                                Html.RenderPartial("_Classement", grp.Classement);
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
    
<footer class="hidden-lg hidden-md">
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("ClassementConcours", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Classement" style="border:none; display:block; width:100%;">
                        <i class="fa fa-trophy fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="#" class="btn btn-primary active" title="Vos pronostics" style="border:none; display:block; width:100%;">
                        <i class="fa fa-pencil fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("ScoresMatch", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Résultats des matchs" style="border:none; display:block; width:100%;">
                        <i class="fa fa-soccer-ball-o fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("StatsConcours", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Statistiques du concours" style="border:none; display:block; width:100%;">
						<i class="fa fa-bar-chart fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>