@model List<PronosContest.Models.GroupePronosticsModel> 
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var concoursID = Request.Params["pConcoursID"];
}
<script type="text/javascript">
    function SetScore(pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pValue) {
        $.ajax({
            url: '@Url.Action("SetScoreMatch")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + pValue,
            context: { ConcoursID: pConcoursID, GroupeID: pGroupeID },
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                //RemplirClassement(this.ConcoursID, this.GroupeID);
            }
        });
    }

    function AddGoalScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur)
    {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = -1;
        if (actualValue < 10)
        {
            $('[name=' + nameControl + ']').val(actualValue + 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScoreMatch")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val(),
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    //RemplirClassement(this.ConcoursID, this.GroupeID);
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }
    function RemoveGoalScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = 1;
        if (actualValue > 0) {
            $('[name=' + nameControl + ']').val(actualValue - 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScoreMatch")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val(),
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    //RemplirClassement(this.ConcoursID, this.GroupeID);
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }

    function AddGoalPenaltyScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = -1;
        if (actualValue < 20) {
            $('[name=' + nameControl + ']').val(actualValue + 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScoreMatchPenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val(),
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }
    function RemoveGoalPenaltyScoreOnClick(buttonClicked, nameControl, pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur) {
    	var actualValue = parseInt($('[name=' + nameControl + ']').val());
    	if (isNaN(actualValue))
    		actualValue = 1;
        if (actualValue > 0) {
            $('[name=' + nameControl + ']').val(actualValue - 1);
            $(buttonClicked).addClass('disabled');
            $.ajax({
                url: '@Url.Action("SetScoreMatchPenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + $('[name=' + nameControl + ']').val(),
                context: { ConcoursID: pConcoursID, GroupeID: pGroupeID, ButtonClicked: buttonClicked },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $(this.ButtonClicked).removeClass('disabled');
                }
            });
        }
    }

	function SetScorePenalties(pConcoursID, pGroupeID, pMatchID, pEquipeAID, pEquipeBID, pIsExterieur, pValue) {
		$.ajax({
			url: '@Url.Action("SetScoreMatchPenalties")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID + '&pMatchID=' + pMatchID + '&pEquipeAID=' + pEquipeAID + '&pEquipeBID=' + pEquipeBID + '&pIsExterieur=' + pIsExterieur + '&pValue=' + pValue,
			context: { ConcoursID: pConcoursID, GroupeID: pGroupeID },
			type: 'GET',
			dataType: 'html',
			success: function (result) {

			}
		});
	}

    function RemplirClassement(pConcoursID, pGroupeID) {
        $.ajax({
            url: '@Url.Action("GetClassementMatch")?pConcoursID=' + pConcoursID + '&pGroupeID=' + pGroupeID,
            context: { pGroupeID: pGroupeID },
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('[name=classement_grp_' + pGroupeID + ']').html(result);
            }
        });
    }
</script> 
<div class="hidden-md hidden-lg">
    <div class="row" >
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                @{
					<div class="dropdown">
						<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
							@{
								if (this.Model.Any(m => m.IsChoosen))
								{
									<span>@this.Model.Where(m => m.IsChoosen).FirstOrDefault().Name</span>
								}
								else
								{
									<span>Tous les groupes</span>
								}
							}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								@{
									if (this.Model.Any(m => m.IsChoosen))
									{
										@Html.ActionLink("Tous les groupes", "ScoresMatch", new { pConcoursID = concoursID }, null)
									}
									else
									{
										@Html.ActionLink("Tous les groupes", "ScoresMatch", new { pConcoursID = concoursID }, null)
									}
								}
							</li>
							@{
								foreach (var grp in this.Model)
								{
									<li>
										@{
											if (grp.IsChoosen)
											{
												@Html.ActionLink(grp.ShortName, "ScoresMatch", new { pConcoursID = concoursID, pGroupe = grp.Name }, null)
											}
											else
											{
												@Html.ActionLink(grp.ShortName, "ScoresMatch", new { pConcoursID = concoursID, pGroupe = grp.Name }, null)
											}
										}
									</li>
								}
							}
						</ul>
					</div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm" >
        <ul class="nav nav-pills nav-stacked">
            @{
                <li role="presentation" @(this.Model.Any(m => m.IsChoosen) ? "" : "class=active")>@Html.ActionLink("Tous", "ScoresMatch", new { pConcoursID = concoursID })</li>
                foreach (var grp in this.Model)
                {
                    <li role="presentation" @(grp.IsChoosen ? "class=active" : "")>@Html.ActionLink(grp.Name, "ScoresMatch", new { pConcoursID = concoursID, pGroupe = grp.Name })</li>
                }
            }
        </ul>
    </div>
   
    <div class="col-xs-1">
        &nbsp;
    </div>
    @{ 
        var groupes = this.Model.Where(m => m.IsChoosen);
        if (!groupes.Any())
        {
            groupes = this.Model.Where(m => m.TypePhaseFinale == null);
        }
    }
    <div class="col-md-9 hidden-xs hidden-sm">
        @{
            foreach (var grp in groupes)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">@grp.Name</div>
                    <div class="panel-body">
                        @{ 
                            if (grp.ID != 0)
                            {
                                <table>
                                    @{
								        foreach (var prono in grp.MatchsPronostics)
								        {
                                            <tr>
                                                <td width="130px">
                                                    <div class="form-group">
                                                        <label>@prono.DateHeure</label>
                                                    </div>
                                                </td>
                                                <td width="27%">
                                                    <div class="form-group text-right text-primary">
                                                        &nbsp;
                                                        <label class="hidden-sm hidden-xs">@prono.EquipeAName</label>
                                                        <label class="hidden-md hidden-lg">@prono.EquipeAShortName</label>
                                                        <span style="width:20px;"><img src="@prono.LogoUrlEquipeA" width="20" /></span>
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td width="80px">
                                                    <center>
                                                        <div class="form-group">
													        @{
														        if (prono.IsReadOnly)
														        {
															        <span class="text-primary">@prono.ButsA</span>
															        if (prono.PenaltiesA > 0)
															        {
																        <span class="text-primary">(@prono.PenaltiesA)</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="input-group input-group-sm" style="width:100px;">
                                                                        <span class="input-group-btn">
                                                                            <a href="#" class="btn btn-primary" onclick="RemoveGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-minus"></i></a>
                                                                        </span>
                                                                        @Html.TextBox("prono" + prono.MatchID + "_ButsA", prono.ButsA, "", new { @class = "form-control text-center", onchange = "SetScore('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','false',$(this).val());" })
                                                                        <span class="input-group-btn">
                                                                            <a href="#" class="btn btn-primary" onclick="AddGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-plus"></i></a>
                                                                        </span>
                                                                    </div>
                                                                    if (grp.TypePhaseFinale != null)
                                                                    {
                                                                        <div class="form-group" style="display:inline-block;">
                                                                            <div class="input-group input-group-sm" style="width:100px;">
                                                                                <span class="input-group-btn">
                                                                                    <a href="#" class="btn btn-primary" onclick="RemoveGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-minus"></i></a>
                                                                                </span>
                                                                                @Html.TextBox("prono" + prono.MatchID + "_ButsPenaltiesA", prono.PenaltiesA, "", new { @class = "form-control text-center", placeholder = "P", onchange = "SetScorePenalties('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','false',$(this).val());" })
                                                                                <span class="input-group-btn">
                                                                                    <a href="#" class="btn btn-primary" onclick="AddGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-plus"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>
															        }
														        }
                                                            }
                                                        </div>
                                                    </center>
                                                </td>
                                                <td width="80px">
                                                    <center>
                                                        <div class="form-group">
                                                            @{
														        if (prono.IsReadOnly)
														        {
															        <span class="text-primary">@prono.ButsB</span>
															        if (prono.PenaltiesB > 0)
															        {
																        <span class="text-primary">(@prono.PenaltiesB)</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="input-group input-group-sm" style="width:100px;">
                                                                        <span class="input-group-btn">
                                                                            <a href="#" class="btn btn-primary" onclick="RemoveGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-minus"></i></a>
                                                                        </span>
                                                                        @Html.TextBox("prono" + prono.MatchID + "_ButsB", prono.ButsB, "", new { @class = "form-control text-center", onchange = "SetScore('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','true',$(this).val());" })
                                                                        <span class="input-group-btn">
                                                                            <a href="#" class="btn btn-primary" onclick="AddGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-plus"></i></a>
                                                                        </span>
                                                                    </div>
                                                                    if (grp.TypePhaseFinale != null)
                                                                    {
                                                                        <div class="form-group" style="display:inline-block;">
                                                                            <div class="input-group input-group-sm" style="width:100px;">
                                                                                <span class="input-group-btn">
                                                                                    <a href="#" class="btn btn-primary" onclick="RemoveGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-minus"></i></a>
                                                                                </span>
                                                                                @Html.TextBox("prono" + prono.MatchID + "_ButsPenaltiesB", prono.PenaltiesB, "", new { @class = "form-control text-center", placeholder = "P", onchange = "SetScorePenalties('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','true',$(this).val());" })
                                                                                <span class="input-group-btn">
                                                                                    <a href="#" class="btn btn-primary" onclick="AddGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-plus"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </center>
                                                </td>
                                                <td width="27%">
                                                    <div class="form-group text-primary">
                                                        &nbsp;
                                                        <span style="width:20px;"><img src="@prono.LogoUrlEquipeB" width="20" /></span>
                                                        <label class="hidden-sm hidden-xs">@prono.EquipeBName</label>
                                                        <label class="hidden-md hidden-lg">@prono.EquipeBShortName</label>
                                                        &nbsp;
                                                    </div>
                                                </td>
										        <td width="10px">
											        <a href="@Url.Action("InformationsMatch", "Pronostics", new { pIdMatch = prono.MatchID })"><i class="fa fa-info-circle text-primary"></i></a>
										        </td>
                                            </tr>
                                        }
                                     }
                                </table>
                            }
                        }
                        <div id="classement_grp_@grp.ID" name="classement_grp_@grp.ID">
                            @{
                                Html.RenderPartial("_Classement", grp.Classement);
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-xs-12 hidden-lg hidden-md" >
        @{
            foreach (var grp in groupes)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">@grp.Name</div>
                    <div class="panel-body">
                        @{
                            if (grp.ID != 0)
                            {
                                foreach (var prono in grp.MatchsPronostics)
                                {
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <center>
                                                <div class="form-group">
                                                    <label>@prono.DateHeure</label>
											        <a href="@Url.Action("InformationsMatch", "Pronostics", new { pIdMatch = prono.MatchID })"><i class="fa fa-info-circle text-primary"></i></a>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center" style="">
                                            <div class="col-xs-5">
                                                <div class="form-group text-primary text-right" style="">
                                                    &nbsp;
                                                    <label class="hidden-sm hidden-xs">@prono.EquipeAName</label>
                                                    <label class="hidden-md hidden-lg">@prono.EquipeAShortName</label>
                                                    <span style="width:20px;"><img src="@prono.LogoUrlEquipeA" width="20" /></span>
                                                    &nbsp;
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-group" style="display:inline-block; width:100px;">
                                                    @{
                                                        if (prono.IsReadOnly)
                                                        {
                                                            <span class="text-primary">@prono.ButsA</span>
                                                            if (prono.PenaltiesA > 0)
                                                            {
                                                                <span class="text-primary">(@prono.PenaltiesA)</span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="input-group input-group-sm" style="width:100px;">
                                                                <span class="input-group-btn">
                                                                    <a href="#" class="btn btn-primary" onclick="RemoveGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-minus"></i></a>
                                                                </span>
                                                                @Html.TextBox("prono" + prono.MatchID + "_ButsA", prono.ButsA, "", new { @class = "form-control text-center", onchange = "SetScore('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','false',$(this).val());" })
                                                                <span class="input-group-btn">
                                                                    <a href="#" class="btn btn-primary" onclick="AddGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-plus"></i></a>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                @if (!prono.IsReadOnly && grp.TypePhaseFinale != null)
                                                {
                                                    <div class="form-group" style="display:inline-block;">
                                                        <div class="input-group input-group-sm" style="width:100px;">
                                                            <span class="input-group-btn">
                                                                <a href="#" class="btn btn-primary" onclick="RemoveGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-minus"></i></a>
                                                            </span>
                                                            @Html.TextBox("prono" + prono.MatchID + "_ButsPenaltiesA", prono.PenaltiesA, "", new { @class = "form-control text-center", placeholder = "P", onchange = "SetScorePenalties('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','false',$(this).val());" })
                                                            <span class="input-group-btn">
                                                                <a href="#" class="btn btn-primary" onclick="AddGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesA','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','false');return false;"><i class="fa fa-plus"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center" style="">
                                            <div class="col-xs-5">
                                                <div class="form-group text-primary text-right" style="">
                                                    &nbsp;
                                                    <label class="hidden-sm hidden-xs">@prono.EquipeBName</label>
                                                    <label class="hidden-md hidden-lg">@prono.EquipeBShortName</label>
                                                    <span style="width:20px;"><img src="@prono.LogoUrlEquipeB" width="20" /></span>
                                                    &nbsp;
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-group" style="display:inline-block;width:100px;">
                                                    @{
                                                        if (prono.IsReadOnly)
                                                        {
                                                            <span class="text-primary">@prono.ButsB</span>
                                                            if (prono.PenaltiesB > 0)
                                                            {
                                                                <span class="text-primary">(@prono.PenaltiesB)</span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="input-group input-group-sm" style="width:100px;">
                                                                <span class="input-group-btn">
                                                                    <a href="#" class="btn btn-primary" onclick="RemoveGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-minus"></i></a>
                                                                </span>
                                                                @Html.TextBox("prono" + prono.MatchID + "_ButsB", prono.ButsB, "", new { @class = "form-control text-center", onchange = "SetScore('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','true',$(this).val());" })
                                                                <span class="input-group-btn">
                                                                    <a href="#" class="btn btn-primary" onclick="AddGoalScoreOnClick($(this),'prono@(prono.MatchID)_ButsB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-plus"></i></a>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                @if (!prono.IsReadOnly && grp.TypePhaseFinale != null)
                                                {
                                                    <div class="form-group" style="display:inline-block;">
                                                        <div class="input-group input-group-sm" style="width:100px;">
                                                            <span class="input-group-btn">
                                                                <a href="#" class="btn btn-primary" onclick="RemoveGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-minus"></i></a>
                                                            </span>
                                                            @Html.TextBox("prono" + prono.MatchID + "_ButsPenaltiesB", prono.PenaltiesB, "", new { @class = "form-control text-center", placeholder = "P",onchange = "SetScorePenalties('" + prono.ConcoursID + "','" + grp.ID + "','" + prono.MatchID + "','" + prono.EquipeAID + "','" + prono.EquipeBID + "','true',$(this).val());" })
                                                            <span class="input-group-btn">
                                                                <a href="#" class="btn btn-primary" onclick="AddGoalPenaltyScoreOnClick($(this),'prono@(prono.MatchID)_ButsPenaltiesB','@(prono.ConcoursID)','@(grp.ID)','@(prono.MatchID)','@(prono.EquipeAID)','@(prono.EquipeBID)','true');return false;"><i class="fa fa-plus"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div id="classement_grp_@grp.ID" name="classement_grp_@grp.ID">
                            @{
                                Html.RenderPartial("_Classement", grp.Classement);
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
    

<footer class="hidden-lg hidden-md">
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("ClassementConcours", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Classement" style="border:none; display:block; width:100%;">
                        <i class="fa fa-trophy fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("SaisirPronostics", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Vos pronostics" style="border:none; display:block; width:100%;">
                        <i class="fa fa-pencil fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="#" class="btn btn-primary active" title="Résultats des matchs" style="border:none; display:block; width:100%;">
                        <i class="fa fa-soccer-ball-o fa-2x"></i>
					</a>
				</div>
				<div class="col-xs-3 text-center">
					<a href="@Url.Action("StatsConcours", "Pronostics", new { pConcoursID = concoursID })" class="btn btn-primary" title="Statistiques du concours" style="border:none; display:block; width:100%;">
						<i class="fa fa-bar-chart fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>