<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js")

    <style>
        body {
            background-image: url('../../img/euro.jpg');
            background-attachment:fixed;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>

    @RenderSection("scripts", required: false)
</body>
</html>
